<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
  integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
  type="text/javascript">(typeof bootstrap === 'undefined') && document.write('<script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"><\/script>')</script>

<script type="text/javascript">
  $(document).ready(function () {
    $(function () {
      // TODO
    });
  });
</script>